NUXT_PUBLIC_API_URL=http://localhost:8080
DB_DSN=postgresql:postgresql://neondb_owner:npg_zQ8yV9gEKOdj@ep-square-bonus-aox4lcuy-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
